<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Profile</title>
	</head>

	<body>
    <h1>{{ user.username }}</h1>
		{% if items %}
			<ul>
			{% for item in items %}
				<li><a href="/download/{{ user.id }}/{{ item.link }}">{{ item.file.name }}</a> <a href="/delete/{{ item.file.pk }}">delete</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<p>No files.</p>
		{% endif %}
        {% if warning %}
            <h2>{{ warning }}</h2>
        {%  else  %}
            {% if share_messages %}
                <h4>The file is duplicate:</h2>
                {% for share_message in share_messages %}
                    <div>{{ share_message }}</div>
                {% endfor %}
            {%  endif %}
            <form action="/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>{{ form.non_field_errors }}</p>
                <p>{{ form.file.label_tag }} {{ form.file.help_text }}</p>
                <p>
                    {{ form.file.errors }}
                    {{ form.file }}
                </p>
                <p><input type="submit" value="Upload" /></p>
            </form>
        {% endif %}
	</body>

</html>